.meme-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.meme {
  box-shadow: 0 0 10px 3px rgb(180, 173, 173);
  margin: 10px;
  padding: 10px;
}

.meme img {
  max-width: 320px;
  max-height: 330px;
}
