.centered {
  grid-row-start: main;
  grid-column-start: main;
  grid-row-end: main;
  grid-column-end: main;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#img {
  border-radius: 14px;
  width: 250px;
  height: 250px;
}

.bordered {
  background: rgb(55, 63, 104);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

#ado {
  display: inline;
  padding: 12px 24px;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  background-color: #479fd7;
}

#ado a {
  color: #fff;
}

.new-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 45px;
  padding: 5px;
  margin: 10px;
}

.new-container img {
  width: 250px;
  height: 150px;
}

.images {
  padding: 10px;
  box-shadow: 0 0 10px 5px rgb(223, 223, 223);
}

.ss {
  text-align: center;
  padding: 5px;
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
  background-color: #373f68;
}

.images:hover {
  background-color: #479fd7;
  transition: 0.5s all;
}

#favori:hover {
  transform: scale3d(1.2, 1.2, 1.2);
  background-color: #ffffff;
  color: #000;
  transition: 0.5s all;
}

.uploader img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.uploader {
  display: flex;
  margin: 5px;
  padding: 5px;
}

.uploader p {
  margin: 6px;
  margin-left: 10px;
}

#favori {
  border: none;
  background-color: #373f68;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  padding: 5px 15px;
}

.butons {
  display: flex;
  justify-content: flex-end;
}

.another img {
  max-width: 100%;
}

.another {
  display: flex;
  flex-wrap: wrap;
}
.statu {
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
}

.status {
  margin-left: 1rem;
  align-items: center;
  height: 8px;
  width: 8px;
  background-color: green;
  border-radius: 50%;
  animation: pulse 0.7s infinite cubic-bezier(0.22, 0.61, 0.36, 1),
    fade 5.4s 1 ease-out forwards;
  display: inline-block;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 1px rgba(25, 175, 85, 0.5),
      0 0 0 1px rgba(25, 175, 85, 0.5);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(325, 175, 85, 0), 0 0 0 10px rgba(25, 175, 85, 0);
  }
}
