.containers {
  max-width: 1160px;
  width: 100%;
  padding: 94px 25px;
  margin: 0px auto;
}

.sidebar {
  display: grid;
  grid-template-columns: 255px 1fr;
  grid-template-areas: "side main";
  -webkit-box-align: start;
  align-items: start;
  gap: 32px;
}

.side {
  grid-row-start: side;
  grid-column-start: side;
  grid-row-end: side;
  grid-column-end: side;
}

.norris {
  grid-row-start: main;
  grid-column-start: main;
  grid-row-end: main;
  grid-column-end: main;
}

.login {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  gap: 16px;
}

.middle {
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: #479fd7;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 14px;
}

.free {
  color: rgb(228, 224, 224);
}
.avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

#log {
  align-items: center;
  align-items: center;
  list-style-type: none;
  margin-top: 10px;
  font-weight: 500;
}

.category {
  background-color: #fff;
  border-radius: 14px;
}

.categories {
  list-style-type: none;
}

.kat {
  color: rgb(70, 97, 230);
  background: rgb(242, 244, 254);
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  height: fit-content;
  padding: 11px 16px;
  margin-top: 1rem;
}

.blur {
  filter: blur(3.5px);
}

#lock {
  position: absolute;
  bottom: 6rem;
  filter: blur(1px);

  opacity: 0.9;
  right: 0;
  z-index: 9999;
  left: 29rem;
  height: 115px;
}

.homepage {
  position: absolute;
  border-radius: 10px;
  z-index: -1;
}

.exe {
  height: 137px;
  display: flex;
  position: relative;
  align-items: flex-end;
}

.patos {
  color: #479fd7;
  font-weight: bold;
}

.pato {
  font-size: 17px;
  font-weight: 400;
}

.homepage img {
  max-width: 100%;
  display: block;
}

.infos {
  font-weight: bold;
  color: #479fd7;
  background-color: rgb(213, 236, 255);
}
.explore {
  width: 100%;
  padding: 24px;
  position: relative;
  top: 20px;
  line-height: 0.8;
}

.explore p {
  opacity: 0.85;
}

.explore a {
  color: #fff;
  opacity: 0.98;
}

#logged-user a,
#logged-user {
  color: #fff;
  cursor: pointer;
}

#logged-user:hover,
#logged-user a:hover {
  color: rgb(100, 139, 247);
  transition: 0.5s all;
}

.favorites {
  display: flex;
  margin: 20px 0px;
  padding: 10px;
  background-color: rgb(70, 97, 230);
  color: #fff;
  border-radius: 4px;
}
