.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-item {
  width: 294px;
  height: 244px;
  margin: 20px;
  padding: 20px;
}

.recipe-item > img {
  width: 290px;
  height: 160px;
  box-shadow: 0 0 10px 5px rgb(136, 122, 122);
  border-radius: 14px;
  cursor: pointer;
}

.recipe-item > img:hover {
  transform: scale3d(2.3, 2.3, 2.3);
  transition: 0.5s ease;
  filter: drop-shadow(0 -6mm 4mm #f3ca20);
}

.recipe-item p {
  font-size: 18px;
  align-items: center;
  text-align: center;
}
