body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#img-photo {
  width: 100% !important;
}

.mobile-navigation {
  display: none !important;
}

@media (max-width: 1527px) {
  .new-container {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
  }

  #img-photo {
    width: 100% !important;
  }
}

@media (max-width: 1014px) {
  .new-container {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap !important;
  }

  .bordered {
    border-radius: 0px !important;
    padding: 0px !important;
    background-color: #6ab1df !important;
  }

  .images {
    width: 100% !important;
  }

  .mobile-logo {
    margin: auto;
  }

  #img-photo {
    width: 100% !important;
  }
}

@media (max-width: 726px) {
  #ado {
    display: none !important;
  }
}

@media (max-width: 647px) {
  .side {
    display: none !important;
  }

  .containers {
    max-width: 100% !important;
    padding: 0px !important;
    width: 100% !important;
  }

  .sidebar {
    display: flex !important;
    flex-direction: column !important;
  }

  .images {
    width: 500px;
  }

  .mobile-navigation {
    display: flex !important;
    padding-bottom: 1.2rem;
    width: 100% !important;
    color: #fff;
    height: 60px;
    position: sticky;
    background: rgb(55, 63, 104);
    top: 0rem;
    z-index: 99999;
  }

  ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0 !important;
    top: 50px;
    position: fixed;
    right: 0;
    left: 0;
    padding: 10px;
    z-index: 99999 !important;
    width: 100% !important;
    opacity: 1 !important;
    background: rgb(55, 63, 104);
  }

  li {
    margin: 10px auto !important;
    opacity: 1;
    list-style-type: none;
  }
}

.mobile a {
  color: #fff !important;
}

.burgers {
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 338px) {
  .mobile-logo {
    padding-right: 6rem !important;
  }
}

@media (max-width: 293px) {
  .mobile-logo {
    width: 250px;
    margin-top: 10px !important;
  }
}
